
.container {
    width: 100%;
    max-width: 350px;
    padding: 0 15px;
    margin: 0 auto;
}

.container__cards {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 160px);
}

