

.cards__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    flex: 0 1 calc(50% - 20px); /* Занимает 50% ширины контейнера минус отступы */
    margin: 10px; /* Отступы между карточками */
}